{
  "version": 1.0,
  "active": true,
  "project": "CX-${repo}-${branch}",
  "team": "\\CxServer\\SP\\Checkmarx",
  "sast": {
    "preset": "Checkmarx Default",
    "incremental": true,
    "forceScan" : true
  },
  "additionalProperties" : {
    "cxFlow": {
      "application": "test app",
      "branches": ["develop", "master"],
      "emails": ["abc@checkmarx.com"],
      "filters" : {
        "severity": ["High"]
      }
    }
  }
}
