{
  "version": 1.0,
  "active": true,
  "sast": {
    "preset": "Checkmarx Default",
    "incremental": true
  },
  "additionalProperties" : {
    "cxFlow": {
      "application": "test app",
      "branches": ["develop", "master"],
      "emails": ["abc@checkmarx.com"],
      "filters" : {
        "severity": ["High"]
      }
    }
  }
}
